[Desktop Entry]
Icon=text-html
Name=https://store.falkon.org/s/Falkon/browse/cat/571/ord/latest/
Type=Link
URL[$e]=https://store.falkon.org/s/Falkon/browse/cat/571/ord/latest/
